/* style.css */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

#game-area {
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: relative;
    overflow: hidden;
}

#player {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 175px; /* milieu vertical */
    left: 275px; /* milieu horizontal */
}
